<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- bản phát triển (development), bao gồm những cảnh báo hữu ích trong console -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      // Định nghĩa một component todo-item
      // Vue.component("todo-item", {
      //   template: "<li>Đây là một đề mục todo</li>",
      // });
    </script>
  </head>
  <body>
    <div id="app">{{message}}</div>
    <div id="app2">
      <span v-bind:title="message"> Drag to this to reveal message </span>
    </div>

    <div id="app3">
      <ol>
        <li v-for="item in todos">{{item.text}}</li>
      </ol>
    </div>
    <div id="app4">
      <h1>{{message}}</h1>
      <input type="text" v-model="message" />
      <ol>
        <!-- Tạo một đối tượng của component todo-item -->
      </ol>
    </div>
    <div id="app7">
      <p>Things should buy:</p>
      <ol>
        <!--
      Ở đây chúng ta cung cấp một object "todo" cho mỗi component
      "todo-item". Bằng cách này nội dung của từng component trở nên động.
      Mỗi component cũng sẽ nhận một thuộc tính "key". Chúng ta sẽ
      nói thêm về thuộc tính này sau.
        -->
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id"
        >
        </todo-item>
      </ol>
    </div>


    <!-- Template syntax -->
    <div id="template-app">
    <span>Thông điệp : {{msg}}</span>
    </div>


    <script>
      Vue.component("todo-item", {
        props: ["todo"],
        template: "<li>{{todo.text}}</li>",
      });
      
      var templateApp = new Vue({
        el:'#template-app',
        data: {
          msg: 'biến của Vue instance'
        }
      })


      
      var app7 = new Vue({
        el: "#app7",
        data: {
          groceryList: [
            { id: 0, text: "Cà pháo" },
            { id: 1, text: "Mắm tôm" },
            { id: 2, text: "Miễn ăn được là được" },
          ],
        },
      });
      var app = new Vue({
        el: "#app2",
        data: {
          message: "Do you wanna build a vue project",
        },
      });
      //v-for
      var app3 = new Vue({
        el: "#app3",
        data: {
          todos: [
            { text: "Hoc Javascript" },
            { text: "Hoc Vue" },
            { text: "Xay dung gi do good" },
          ],
        },
      });
      var app4 = new Vue({
        el: "#app4",
        data: {
          message: "before",
        },
      });
    </script>
  </body>
</html>
